body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background: linear-gradient(to top, #9f87ff, #2c2d89);
  color: #fff;
  overflow-x: hidden;
  position: relative;
  height: 110vh;
  transition: background 0.6s ease;
}


.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 1.5rem;
}


.navbar-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 1rem; 
  position: relative; 
  height: 60px; 
}


.navbar-left {
  flex-shrink: 0; 
}


.navbar-right {
  position: relative;
  left: 0; 
  transition: left 0.3s ease; 
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.logo img {
  height: 150px;
  width: auto;
  display: block;
  object-fit: contain;

  position: relative;
  top: 20px; 
  
}


nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
}



nav a::after {
  content: '';
  display: block;
  height: 2px;
  background: white;
  transition: width 0.3s;
  width: 0;
  position: absolute;
  bottom: -5px;
  left: 0;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  text-align: center;
  padding-top: 10vh;
}

.hero h1 {
  font-size: 2.8rem;
  line-height: 1.4;
  color: #e0d5ff;
  text-shadow: 1px 1px 4px #000;
  margin-top: -60px;    
  margin-left: 30px; 

}

.btn {
  background-color: #6b5b95;
  color: white;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4d3c77;
}

body:not(.dark-theme) {
  background: linear-gradient(to top, #ffffff, #03020d);
  color: #222;
}

body:not(.dark-theme) .btn {
  background-color: #ddd;
  color: black;
}

.cadre-texte {
  background: linear-gradient(to bottom, #e0d8f4, #d8cef4);
  padding: 1rem 2rem;
  margin: 2rem auto;
  max-width: 91%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
  color: #000000;
  font-size: 1.2rem;
}

.contenu {
  font-family: Arial, sans-serif;
  color: #000;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}

.conteneur-flex {
  display: flex;
  gap: 20px;
  justify-content: space-around; 
  flex-wrap: wrap; 
}


.video-container {
  text-align: center;
}

.video-container iframe {
  max-width: 100%;
  width: 900px;
  height: 500px;
  border-radius: 10px;
  margin: 0 auto; /* Centrage horizontal */
  display: block; /* Nécessaire pour que margin fonctionne */
}

.btn3:hover {
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
  background-size: cover;
  background-position: center;
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

footer { 
  background-color:#2c2d89;
  padding: 0.7rem;
  margin-top: 0rem;
  text-align: center;
  color: #ffffff;  
  font-family: Arial, sans-serif;
}


.contact-links {
  margin-bottom: 0.5rem;
}

.contact-links a {
  margin: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.1s ease;
}

.contact-links a:hover {
  color: #9f87ff;
}

.contenu img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
  }
